.contacts {
  display: flex;
  flex-direction: row;
  padding-top: 71px;
}

.contacts__container {
  margin: 0;
  margin-right: 59px;
  padding: 0;
}

.contacts__title {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 16px;
}

.contacts__place {
  margin: 0;
  width: 1176px;
  height: 550px;
  padding: 0;
}

.contacts__place img {
  width: 1176px;
  height: 550px;
}

.contacts__telephone {
  color: #ffffff;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  text-decoration: none;
}

.contacts__subtitle {
  font-family: "Montserrat Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  width: 286px;
}

