.location {
  position: relative;
  padding-top: 60px;
  padding-bottom: 73px;
  background: radial-gradient(119.11% 121.88% at 86.25% 18.44%, rgba(203, 35, 35, 0.74) 0%, rgba(170, 65, 65, 0) 100%), #A61744;

  @media (min-width: @desktop-width) {
    padding-top: 155px;
    padding-bottom: 80px;
    padding-left: 117px;
  }
}

.location::before {
  position: absolute;
  content: "";
  background-image: url("../img/union.svg");
  z-index: 0;

  @media (min-width: @tablet-width) {
    right: 9px;
    top: 15px;
    width: 121px;
    height: 620px;
  }

  @media (min-width: @desktop-width) {
    right: 9px;
    top: 34px;
  }
}

.location::after{
  position: absolute;
  content: "";
  background-image: url("../img/union3.svg");
  z-index: 0;

  @media (min-width: @tablet-width) {
    right: 9px;
    bottom: 45px;
    width: 121px;
    height: 385px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.location__container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 43px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.location__park {
  position: relative;
  order: 2;
  padding-bottom: 14px;
  margin-bottom: 14px;
  z-index: 1;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-right: 131px;
    width: 590px;
    height: 464px;
  }
}

.location__park::before {
  position: absolute;
  content: "";
  background-image: url("../img/union6.svg");

  @media (min-width: @tablet-width) {
    width: 139px;
    height: 139px;
    right: 277px;
    top: 157px;
  }
}

.location__info {
  order: 1;
  padding-bottom: 25px;

  @media (min-width: @desktop-width) {
    order: 2;
    width: 639px;
    margin-right: 74px;
  }
}

.location__title {
  font-family: "Montserrat Bold", sans-serif;
  margin: 0;
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  color: #d0ae85;
  margin-bottom: 25px;

  @media (min-width: @tablet-width)  {
    font-size: 44px;
    line-height: 48px;
  }
}

.location__subtitle {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width)  {
    font-size: 20px;
    line-height: 30px;
  }
}
