img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.visually-hidden:not(:focus):not(:active),
.input[type="checkbox"].visually-hidden,
.input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  width: 289px;
}
@media (min-width: 772px) {
  .container {
    width: 690px;
    padding: 0 41px;
  }
}
@media (min-width: 1680px) {
  .container {
    width: 1578px;
    padding: 0 51px;
  }
}
.page-body {
  font-family: "Monsterrat";
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  background-color: #303030;
}
.page-header {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  z-index: 1;
}
